*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    max-width: 20%;
    font-family: 'Pushster', cursive;
    font-weight: 400;
}

.mi-nav{ 
    background: transparent !important;
    width: 100%;
    z-index: 999;  
    transition: all 300ms ease-in-out;
}
.scroll {
    background-color: gray!important;
}

h6{
    font-family: 'Pushster', cursive;
    font-weight: 400;
    font-size: 2rem;
}

hr{
    margin: 0;
}

.presentacion{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color:whitesmoke;
    text-align: center;
    margin: 0;
    justify-content: center;
}

.col-3{
    text-align: justify;
    margin:auto
}

.tarjetas{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color:white;
    text-align: center;
    margin: 0;
    justify-content: center;
}

.card{
    background-color: turquoise;
    width: 100%;
    margin: auto;
    height: 26rem;
}

.card-img-top{
    height: 160px;
}

.formulario{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: black;
    color:white;
    text-align: center;
    margin: 0;
    justify-content: center;
}

footer{
    background-color: turquoise;
    color: white;
    padding-top: 13px;
    height: 60px;
}

.destacado a{
    color: white; 
}

